<%- include('../partials/_navbar.ejs') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title><%= user.username %>'s Pantry</title>
  </head>
  <body>
    <h1><%= user.username %>'s Pantry</h1>
    <% if(user.pantry.length > 0) { %>
    <ul>
      <% user.pantry.forEach(food => { %>
      <li><%= food.name %></li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>This user's pantry is empty.</p>
    <% } %>
  </body>
</html>
